body {
    width: 80vw;
    min-width: 800px;
    margin: 0 auto;
    height: 100vh;
    background-color: slategray
}

html {
    /* HTML element is the root element of an HTML document. Two instances when you'd apply properties to the html element instead of the body
    1. When you want to use REM units (relative measurement). Used to scale to the font-size property of your root element.
    2. Applying the backround-property to the entire viewport of your screen.
    */
    
    font-size: 30px;
    background: linear-gradient(180deg,
    rgba(235, 217, 181, 1) 0%,
    rgba(236, 105, 165, 1) 50%,
    rgba(89, 232, 247, 1) 100%
    );
    
}

h1, 
h2 {
    font-family: "Oswald", sans-serif; 
    color: #2a2a2a
}

/* h2 {
    font-family: "Oswald", sans-serif; 
    color: #2a2a2a   
} */

p, li {
    font-family: "Oswald", sans-serif;
    color: #2a2a2a  
}